.ERUM {
    width: 297px;
    height: 111px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: NanumSquare_ac;
    font-size: 100px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #17a934;
}

.button_logout {
    width: 153px;
    height: 53px;
    padding: 10px 17px 9px 18px;
    border-radius: 26.5px;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #17a934;
}

.LOGOUT {
    width: 118px;
    height: 34px;
    font-family: NanumSquare_ac;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}


/* 중간 박스 */

.box_middle {
    width: 1920px;
    height: 455px;
    padding: 102px 1006px 100px 462px;
    background-color: #b1e2bb;
}

.button_planner {
    width: 379px;
    height: 88px;
    margin: 28px 38px 28px 0;
}

.day {
    width: 452px;
    height: 88px;
    margin: 0 0 33px;
    font-family: NanumSquare_ac;
    font-size: 80px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.button_start {
    width: 383px;
    height: 132px;
    margin: 33px 34px 0 35px;
    padding: 25px 69px 19px;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 70px;
    background-color: #17a934;
}

.START {
    width: 245px;
    height: 88px;
    font-family: NanumSquare_ac;
    font-size: 80px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}


/* 플래너 버튼 */

.planner {
    width: 298px;
    height: 88px;
    margin: 0 11px 0 0;
    font-family: NanumSquare_ac;
    font-size: 80px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b1e2bb;
}