.top-box {
    font-size: 10px;
    width: 100%;
    height: 7rem;
    display: flex;
}
.calendar-button {
    width: auto;
    height: 7rem;
    margin-top: -15px;
    font-family: "FrancoisOne";
    font-weight: 800;
    font-size: 40px;
    color: #17a934;
    background-color:  #f0faee;
    border: 0;
    outline: 0;
}
.time-ERUM {
    display: inline-block;
    width: auto;
    height: 7rem;
    margin: 0 auto;
    margin-top: 10px;;
    color: #17a934;
    font-size: 60px;
    font-family: "FrancoisOne";
    font-weight: 800;
}
.login-button {
    width: 8rem;
    height: 3.5rem;
    margin-top: 10px ;
    margin-right: 10px;
    border-radius: 36.5px;    
    /* 글자 속성 */
    text-align: center;
    line-height: 3.5rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: "FrancoisOne";
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    background-color: #17a934;
    /* button 테두리 지우기*/
    border: 0;
    outline: 0;
}
/* 중앙 */
.container {
    width: 80%;
    height: 850px;
    margin: 0 auto;
    border-radius: 138px 138px 0 0;
    background-color: white;
}
.first-box {
    width: 25%;
    height: 850px;
    float: left;
}
.timelist-box {
    width: 3.5%;
    height: 850px;
    float: left;
    font-size: 27.5px;
}
.second-box {
    width: 40%;
    height: 850px;
    float: left;
}
.third-box {
    width: 30%;
    height: 850px;
    float: left;
}

.Addsubject-button{
    width: 15rem;
    height: 4.5rem;
    font-size: 40px;
    font-family: "KITA";
    font-weight: 700;
    color: white;
    background-color: #17a934;
    border-style: none;
    border-radius: 40px;
    left: 67%;
    bottom: 40%;
    position: fixed;
}
.test-button {
    width: 300px;
height: 70px;
border-radius: 40px;
border-style: none;
margin: 70px 0 30px;
font-size: 25px;
text-align: center;
line-height: 70px;
background-color: rgb(227, 227, 227);
}